body {
  font-family: sans-serif;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

nav {
  margin-top: 2rem;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-around;
}

.home-login .new-game {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

#title {
  font-size: 4rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  position: absolute;
  left: calc(50% - 5rem);
}

.card {
  margin: 1.5rem;
  padding: 1rem;
  width: 15rem;
  height: 10rem;
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
}

.card:focus {
  border: 2px solid blue;
}

#draw-pile {
  position: absolute;
  top: 40%;
  left: 85%;
  width: 10rem;
  height: 15rem;
  border-radius: 10px;
  border: 2px solid yellow;
}

.your-sets {
  border: 1px solid green;
  position: absolute;
  left: 90%;
  top: 80%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: green;
}

.single-card {
  width: 15rem;
  height: 12rem;
  margin: 1rem;
  padding: 1rem;
  padding-left: -1rem;
  background-color: white;
  border-radius: 25px;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

#game-board {
  margin: 7rem;
  padding: 2rem 0;
  width: 80vw;
  background-color: aquamarine;
  border: 1px solid orange;
  display: flex;
}
